@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  background-color: #e7e7ea;
  font-family: "Inconsolata", monospace;
  font-size: 1.13em;
  font-weight: bold;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.btn {
  color: rgb(16, 24, 50);
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.075em;
  padding: 0.8em 1em;
  margin: auto 2em;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border: 3px solid #00bcdd;
  border-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  border-image-slice: 1 1 0 0;
  z-index: 1;
  box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
  transform-origin: left bottom;
  transition: all 200ms ease-in-out;
}

.btn:before,
.btn:after {
  border: 3px solid #00bcdd;
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
}

.btn:before {
  border-image: linear-gradient(45deg, #00bcdd 0%, #1fbcdc 100%);
  border-image-slice: 1 1 0 1;
  left: -0.59em;
  top: 0.15em;
  width: 0.31em;
  height: 100%;
  transform: skewY(-45deg);
}

.btn:after {
  border-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  border-image-slice: 1 1 1 0;
  bottom: -0.61em;
  right: 0.16em;
  width: 100%;
  height: 0.31em;
  transform: skewX(-45deg);
}

.btn:hover {
  background-color: white;
  background-size: 90%;
  transform: translate(0.5em, -0.5em);
  box-shadow: -1em 1em 0.15em rgba(16, 24, 50, 0.9);
}

.btn:hover:before {
  background-image: linear-gradient(45deg, #00bcdd 0%, #1fbcdc 100%);
  height: calc(100% - 0.13em);
  border-image-slice: 1;
}

.btn:hover:after {
  background-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  width: calc(100% - 0.13em);
  border-image-slice: 1;
}

.cta {
  background-color: #00bcdd;
  background-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  border-image: linear-gradient(45deg, #29d0f7 0%, #ff80ff 100%);
  border-image-slice: 1;
  color: white;
}

.cta:before {
  border-image-slice: 1;
  background-image: linear-gradient(45deg, #00bcdd 0%, #1fbcdc 100%);
  left: -0.75em;
  top: 0.15em;
}

.cta:after {
  border-image-slice: 1;
  background-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  bottom: -0.75em;
  right: 0.15em;
}

.cta:hover {
  background: white;
  border-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  border-image-slice: 1;
  color: rgb(16, 24, 50);
}

.cta:hover:before {
  height: 100%;
}

.cta:hover:after {
  width: 100%;
}

.bg {
  background: none;
  border: 3px solid rgb(16, 24, 50);
  color: rgb(16, 24, 50);
}

.bg:before,
.bg:after {
  background: rgb(16, 24, 50);
  border: 3px solid rgb(16, 24, 50);
}

.bg:hover {
  border-image: none;
}

.bg:hover:before,
.bg:hover:after {
  background: rgb(16, 24, 50);
}
